.main-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-li {
    display: inline;
    padding: 5px 5px;
}

.li-left{
    float: left;
}

.li-right{
    float: right;
}